.loading-data {
  background-color: #1f2e39;
  color: white;
  height: 100vh;
  margin-top: 0;
  padding-top: 20px;
  font-family: 'Rubik', sans-serif;
  animation: fadebackground 2s;
}

.search-form {
  background-color: #1f2e39;
  padding: 10px;
  color: white;
}

.dashboard-row {
  background-color: #1f2e39;
  color: white;
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: 12vw 22vw 22vw 22vw 22vw;
  /* grid-template-columns: repeat(5, 1fr); */
  max-height: 75px;      
}

.dashboard-row:hover + .full-sparkline {  
  background-color: #1f2e39;
  color: white;  
  padding-top: 10px;
  display: grid;  
  grid-template-columns: repeat(3, 1fr);    
}

.dashboard-row::after:hover + .full-sparkline {
  display: none;  
}

.full-sparkline:hover {  
  background-color: #1f2e39;
  color: white;  
  padding-top: 10px;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);      
}

ul {
  margin: 5px;
}

ul,
.sparkline-data {
  list-style-type: none;
  padding: 0;
}

.coin-image {
  padding-top: 15px;    
}

.coin-name,
.coin-change,
.coin-current-price {
  text-align: left;      
}

.coin-conversion-label,
.coin-high-low,
.coin-current-price {
  padding-top: 1vh;
}

.coin-name-label,
.coin-price-change,
.coin-high-low-label {
  font-size: 14px;
  color: #a2a2a2;
  padding-top: 2px;  
}

.sparkline {
  margin-top: 10px;
}

.sparkline-data {
  margin: 0px;
}

.full-sparkline {
  display: none;  
}

svg {
  display: block;
  margin: auto;     
}

@media screen and (max-width: 880px) {
  
  .coin-price-change,
  .coin-high-low-label
   {
    font-size: 10px;
  }

  .coin-name-label {
    font-size: 11px;
  }

  .coin-conversion-label {
    font-size: 12px;
  }

  .coin-high-low,  
  .coin-current-price,
  .sparkline-data,
  .sparkline-data-label {
    font-size: 13px;
    margin-right: 5%;
  }  
}

.fade-in-text {  
  animation: fadeIn linear .5s;
  -webkit-animation: fadeIn linear .5s;
  -moz-animation: fadeIn linear .5s;
  -o-animation: fadeIn linear .5s;
  -ms-animation: fadeIn linear .5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadebackground {
  from {background-color: #282c34;}
  to {background-color: #1f2e39;}
}