.dashboard-row {
  background-color: #1f2e39;
  color: white;
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 50px;
  overflow: hidden;
  transition: height 0.5s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

.coin-image {
  padding-top: 15px;
}

.sparkline {
  margin-top: 15px;
}

.full-sparkline {
  display: none;
}

.dashboard-row:hover {
    border-bottom: none;
}

.dashboard-row:hover + .full-sparkline {
  display: block;
  height: 50px;
  background-color: #1f2e39;
  color: white;
  border-bottom: 2px solid black;
  padding-top: 10px;
}

.coin-name-label,
.coin-price-change,
.coin-high-low-label {
  font-size: 12px;
  color: #a2a2a2;
}

@media screen and (max-width: 880px) {
  .coin-name-label,
  .coin-price-change,
  .coin-high-low-label {
    font-size: 10px;
  }
  .coin-high-low,
  .coin-conversion-label,
  .coin-current-price {
    font-size: 11px;
  }
}
