.loading-data {
  background-color: #1f2e39;
  color: white;
  height: 100vh;
  margin-top: 0;
  padding-top: 20px;
  font-family: 'Rubik', sans-serif;
}

.dashboard-row {
  background-color: #1f2e39;
  color: white;
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 50px;    
}

.dashboard-row:hover + .full-sparkline {  
  background-color: #1f2e39;
  color: white;  
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: display 2s;    
}

.dashboard-row::after:hover + .full-sparkline {
  display: none;
}

.full-sparkline:hover {  
  background-color: #1f2e39;
  color: white;  
  padding-top: 10px;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
}

ul {
  margin: 5px;
}

ul,
.sparkline-data {
  list-style-type: none;
  padding: 0;
}

.coin-image {
  padding-top: 15px;
}

.coin-name-label,
.coin-price-change,
.coin-high-low-label {
  font-size: 12px;
  color: #a2a2a2;
  padding-top: 2px;
}

.sparkline {
  margin-top: 10px;
}

.sparkline-data {
  margin: 0px;
}

.full-sparkline {
  display: none;  
}

svg {
  display: block;
  margin: auto;     
}

@media screen and (max-width: 880px) {
  .coin-name-label,
  .coin-price-change,
  .coin-high-low-label,
  .sparkline-data,
  .sparkline-data-label {
    font-size: 10px;
  }

  .coin-high-low,
  .coin-conversion-label,
  .coin-current-price {
    font-size: 11px;
  }
}
